

/* Importando a fonte Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366; 
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    color: white; 
}

h2 {
    margin-top: 20px;
    color: #003366; /* Azul escuro */
/* }

.content {
    margin: 20px;
}

ul {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #003366;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

table td button {
    padding: 5px 10px;
    background-color: #003366; 
    color: white;
    border: none;
    cursor: pointer;
}

table td button:hover {
    background-color: #002244; 
}

table td:nth-child(1), table td:nth-child(3), table td:nth-child(6), table td:nth-child(8) {
    width: 12.5%;
}

table th:nth-child(1), table th:nth-child(3), table th:nth-child(6), table th:nth-child(8) {
    width: 12.5%;
} */ 
